.nav-wrap {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 999;

  width: 100%;
}

.nav {
  display: flex;

  padding: 0 100px;
  width: 100%;

  /* background-color: rgba(0, 9, 80, 0.5); */
  background-color: #000950;
  max-height: 80px;

  transition: all 0.3s ease;
}

.scrolled {
  /* background-color: #000950 !important; */
  box-shadow: 0 3px 10px #000950;
  transition: all 0.3s ease;
}

.logo {
  height: 35pt;
}

.logo-link {
  margin: 10px 15px;
  margin-right: auto;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-menu .register-button, .nav-menu .demo-link-resp {
  display: none;
}

.hamburger-icon {
  display: none;

  color: white;
  font-size: 25pt;
  font-weight: 500;
  margin: 15px;
}

@media only screen and (max-width: 992px) {
  .nav {
    padding: 0 10px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    position: fixed;
    height: 100%;
    width: 100%;

    overflow: auto;

    top: 0;
    left: 0;
    z-index: -999;

    background-color: #000950;

    padding: 85px 15px;

    visibility: hidden;
    opacity: 0;

    transition: visibility 0.2s ease;
    transition: opacity 0.2s ease;
  }

  .nav-menu.active {
    visibility: visible;
    opacity: 1;

    transition: visibility 0.2s ease;
    transition: opacity 0.2s ease;
  }

  .nav-menu .link-wrapper {
    width: 100%;
  }

  .nav-menu .separator {
    height: 1px;
    margin: 0 15px;
    background-color: #00acff;
  }

  .nav-menu .register-button, .nav-menu .demo-link-resp {
    display: block;
    border-radius: 100px;
    color: white;

    text-decoration: none;
    font-weight: 700;
    font-size: 16pt;

    padding: 8px 30px;
  }

  .nav-menu .register-button {
    background-color: #ff4365;
    margin: 20px auto;
  }

  .nav-menu .demo-link-resp {
    background-color: #00a3e3;
    margin: 50px auto 0;
  }

  .nav-menu .register-button:hover, .nav-menu .demo-link-resp:hover {
    cursor: pointer;
    color: #fff34b;
  }

  .hamburger-icon {
    display: block;
  }
}
