.nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;

  padding: 0 100px;

  z-index: 9999;

  width: 100%;
  background-color: rgba(0, 9, 80, 0.5);

  transition: all 0.3s ease;
}

.scrolled {
    background-color: #000950 !important;
    box-shadow: 0 3px 10px #000950;
    transition: all 0.3s ease;
}

.logo {
  height: 35pt;
}

.navbar-link {
  margin: 10px 15px;
}

.logo-link {
  margin-right: auto;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-menu-item {
  color: white;
  font-size: 16pt;
  font-weight: 500;
}

.navbar-menu-item:hover {
  text-decoration: none;
  color: #fff34b;
  transition: all 0.2 ease-out;
}

.contact-link {
  padding: 8px 25px;
  background-color: #00acff;
  border-radius: 100px;
}

.hamburger-icon {
  display: none;

  color: white;
  font-size: 25pt;
  font-weight: 500;
  margin: 15px;
}

/* 
    For Responsive NavBar
    TODO: Make mobile first rather than desktop first
*/
@media only screen and (max-width: 992px) {
  .nav {
    background-color: transparent;
    padding: 0 10px;
  }

  .nav-menu {
    flex-direction: column;

    position: absolute;
    top: 100%;
    left: -100%;

    width: 100%;
    background-color: #000950;

    transition: all 0.2s ease;
  }

  .navbar-menu-item {
      display: block;
      margin-top: 20px;
      margin-bottom: 0;
      font-size: 18pt;
  }

  .contact-link {
      margin-bottom: 20px;
  }

  .nav-menu.active {
    left: 0;

    transition: all 0.2s ease;
  }

  .hamburger-icon {
    display: block;
  }
}
