.bullet-point {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.check-bullet {
  margin-top: 4px;
  height: 24px;
}

.bullet-text {
  margin: 0 10px;
  font-size: 16pt;
  color: #313438;
}
