.navbar-menu-item {
  color: white;
  font-size: 16pt;
  font-weight: 500;
  margin: 0 15px;
}

.features-link.nav-link-active {
  color: #fff !important;
}

.navbar-menu-item:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: all 0.2 ease-out;
}

.navbar-menu-item .drop-down-arrow {
  height: 15px;
  margin: 0 10px;
  fill: #fff;

  transition: all 0.3s ease;
}

.navbar-menu-item .drop-down-arrow.active {
  transform: rotate(180deg);
}

.drop-down-menu {
  position: absolute;
  top: 100%;

  background-color: #000950;

  display: flex;
  flex-direction: column;

  padding: 0 15px;
  transform: translate(-15px);

  max-height: 0;
  margin: 0 15px;
  overflow: hidden;

  list-style-type: none;

  transition: all 0.3s ease;
}

.drop-down-menu.active {
  max-height: 300px;
}

.drop-down-menu-item {
  display: block;
  font-size: 14pt;
  color: white;
  margin: 10px 0;
}

.drop-down-menu-item:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.nav-link-active {
  color: #fff34b;
}

.demo-link {
  padding: 8px 20px;
  /* background-color: #00a3e3; */
  background-color: #ff4365;
  border-radius: 100px;
}

.contact-link {
  padding: 8px 20px;
  /* background-color: #ff4365; */
  background-color: #00a3e3;
  border-radius: 100px;
}

/* TODO: Figure out why I put the media query in the first place */
/* @media only screen and (min-width: 992px) { */
  .navbar-menu-item:hover,
  .drop-down-menu-item:hover {
    color: #fff34b !important;
  }

  .navbar-menu-item:hover .drop-down-arrow {
    fill: #fff34b !important;
  }
/* } */

@media only screen and (max-width: 992px) {
  .drop-down-menu {
    position: static;

    padding: 0;
    transform: none;

    background-color: transparent;
  }

  .navbar-menu-item {
    display: block;
    font-size: 18pt;
    font-weight: 400;
    margin: 15px;
  }

  .nav-menu .demo-link {
    display: none;
  }

  .nav-menu .contact-link {
    padding: 0;
    background-color: transparent;
  }
}
