#feature-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#feature-text .header,
#feature-text .paragraph-normal,
#feature-text .paragraph-bold {
  color: #313438;
}

#feature-text .paragraph-normal,
#feature-text .paragraph-bold {
  font-size: 16pt;
}

#feature-text .paragraph-bold {
  font-weight: 900;
}

.demo-button {
    margin-top: 10px;
  
    align-self: flex-start;
    background-color: #00A1E4;
    color: #fff;
    /* color: black; */
    border-radius: 30px;
  
    text-decoration: none;
    font-weight: 700;
    font-size: 15pt;
  
    padding: 10px 30px;
  }
  
  .demo-button:hover {
    text-decoration: none;
    color: #fff34b;
  }

  @media only screen and (max-width: 992px) {
    .demo-button {
      margin: auto;
      margin-top: 20px;
    }
  }