.footer {
  text-align: center;
  padding: 20px 10px 50px;
  background-color: #000950;
}

.footer .register-button {
  margin: auto;
}

#footer-pattern {
  /* Fixes iOS white line lol */
  z-index: -999;
  position: relative;
  top: 1px;

  margin: 0;
  padding: 0;
  width: 100%;
}

#footer-pattern path {
  width: 100%;
  fill: #000950;
  margin: 0;
  position: absolute;
  bottom: 0;
}

.footer h1,
.footer p {
  color: white;
}

.footer p {
  font-size: 20pt;
}

@media only screen and (max-width: 768px) {
  .footer p {
    font-size: 18pt;
  }
}

.footer .register-button {
  border-radius: 100px;
  color: white;

  background-color: #FF4365;

  text-decoration: none;
  font-weight: 700;
  font-size: 16pt;

  padding: 8px 30px;
  margin-top: 20px;
  margin-right: auto;
}

.footer .register-button:hover {
  text-decoration: none;
  cursor: pointer;
  color: #fff34b;
}
