#text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* background-color: green; */
}

.header,
.paragraph-normal,
.paragraph-bold {
  color: white;
}

.paragraph-normal,
.paragraph-bold {
  font-size: 16pt;
}

.paragraph-bold {
  font-weight: 700;
}

.register-button {
  margin-top: 20px;

  align-self: flex-start;
  background-color: #ffd700;
  color: #000a50;
  /* color: black; */
  border-radius: 15px;

  text-decoration: none;
  font-weight: 700;
  font-size: 15pt;

  padding: 15px 20px;
}

.register-button:hover {
  text-decoration: none;
}
