@media only screen and (max-width: 992px) {
  .slide {
    padding: 0 25px;
  }
}

.slide {
  display: relative;
}

#slide-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

@media only screen and (max-width: 992px) {
  #slide-text {
    /* background-color: rgba(0, 227, 255, 0.5); */
    padding: 20px 15px;
    border-radius: 20px;
  }
}

.header,
.paragraph-normal,
.paragraph-bold {
  color: white;
}

.paragraph-normal,
.paragraph-bold {
  font-size: 16pt;
}

.paragraph-bold {
  font-weight: 900;
}

.button-container {
  margin-top: 20px;
}

.register-button {
  border: 3px solid #fff34b;
  border-radius: 100px;
  color: #fff34b;

  text-decoration: none;
  font-weight: 700;
  font-size: 16pt;

  padding: 8px 30px;
  margin-top: 20px;
  margin-right: auto;
}

.register-button:hover {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.view-demo-button {
  border: 3px solid #00acff;
  border-radius: 100px;
  background-color: #00acff;
  color: #fff;

  text-decoration: none;
  font-weight: 700;
  font-size: 16pt;

  padding: 8px 30px;
  margin-left: 15px;
}

.view-demo-button:hover {
  text-decoration: none;
  cursor: pointer;
  color: #000950;
}

#slide-image {
  height: 55vh;
}

.slide-image {
  height: 100%;
}

@media only screen and (max-width: 768px) {
  #slide-image {
    margin-top: 40px;
    height: auto;
  }

  .slide-image {
    height: auto;
    width: 80%;
  }
}
