.slide {
  display: relative;
}

#slide-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

#slide-text .header,
#slide-text .paragraph-normal,
#slide-text .paragraph-bold {
  color: white;
}

#slide-text .paragraph-normal,
#slide-text .paragraph-bold {
  font-size: 16pt;
}

#slide-text .paragraph-bold {
  font-weight: 900;
}

#slide-text .register-button {
  border: 3px solid #fff34b;
  border-radius: 100px;
  color: #fff34b;

  text-decoration: none;
  font-weight: 700;
  font-size: 16pt;

  padding: 8px 30px;
  margin-top: 20px;
  margin-right: auto;
}

#slide-text .register-button:hover {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

#slide-image {
  height: 55vh;
}

.slide-image {
  height: 100%;
}

@media only screen and (max-width: 768px) {
  #slide-image {
    margin-top: 40px;
    height: auto;
  }

  .slide-image {
    height: auto;
    width: 80%;
  }
}
